#!/bin/bash
{{- if (and (eq .chezmoi.os "darwin") (not .codespaces)) -}}

# Close App Store apps in case this script updates them
killall iMovie Xcode

# Disable quarantine for casks
export HOMEBREW_CASK_OPTS=--no-quarantine

brew bundle install --file=~/Brewfile

{{ end -}}

# Install latest stable version of Node.js
# volta install node

# Install latest versions of global Node.js packages
npm install -g\
  stylelint@latest\
  textlint@latest\
  typescript@latest\
  nx@latest
